[submodule "subschema-test-support"]
	path = subschema-test-support
	url = https://github.com/subschema/subschema-test-support.git
	ignore = dirty
[submodule "subschema"]
	path = subschema
	url = https://github.com/subschema/subschema.git
[submodule "subschema-demo"]
	path = subschema-demo
	url = https://github.com/subschema/subschema-demo.git
[submodule "subschema-project"]
	path = subschema-project
	url = https://github.com/subschema/subschema-project.git
