[submodule "subschema-test-support"]
	path = subschema-test-support
	url = git@github.com:subschema/subschema-test-support.git
[submodule "subschema"]
	path = subschema
	url = git@github.com:subschema/subschema.git
[submodule "subschema-demo"]
	path = subschema-demo
	url = git@github.com:subschema/subschema-demo.git
[submodule "subschema-project"]
	path = subschema-project
	url = git@github.com:subschema/subschema-project.git
[submodule "subschema-server-utils"]
	path = subschema-server-utils
	url = git@github.com:subschema/subschema-server-utils.git
[submodule "subschema-prop-types"]
	path = subschema-prop-types
	url = git@github.com:subschema/subschema-prop-types.git
[submodule "subschema-injection"]
	path = subschema-injection
	url = git@github.com:subschema/subschema-injection.git
[submodule "subschema-expression"]
	path = subschema-expression
	url = git@github.com:subschema/subschema-expression.git
[submodule "subschema-redux"]
	path = subschema-redux
	url = git@github.com:subschema/subschema-redux.git
