<!html>
<html>
<head>
    <title>@jsName@ Sample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://fb.me/react-0.14.6.js"></script>
    <script src="https://fb.me/react-dom-0.14.6.js"></script>
    <script  charset="utf-8">
    //subschema
    @require('!raw!!subschema-source/subschema-noreact.js')@
    </script>
</head>
<body>
<div class='container'>
<h3>@project.name@</h3>
<p>@sample.description@</p>
<div id="content"></div>
<pre>
//This code needs to be transpiled to actually work.
@scripts.source.replace(/</g, '&lt;')@
</pre>
</div>
<script>
//So this adapts the require module from babel to the global libs.
//If your using a transpiler you wouldn't need this.
function require(module){
       if (module === 'react') module = 'React';
       if (module === 'react-dom') module = 'ReactDOM';
       return window[module]
}

</script>
<script  charset="utf-8">
//This is a transpiled version of the script, you are better off using webpack and a transpiler like babel.
@scripts.compiled@
</script>
</body>

</html>