@scripts.source@

export default class App extends React.Component {
    render(){
        return <div>
            <h3>@title@</h3>
            <p>@project.description@</p>
           @scripts.form@
          </div>
    }
}