<!html>
<html>
<head>
    <title>@project.description || title@</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<div id="content"></div>
<script  charset="utf-8" src="app.entry.js"></script>
</body>

</html>