<!html>
<html>
<head>
    <title>@jsName@ Sample</title>
    <script  charset="utf-8">
    //subschema inline
    @require('!raw-loader!!../../../node_modules/subschema/dist/subschema-debug.js')@
    </script>
</head>
<body>
<div class='container'>
<h3>@project.name@</h3>
<p>@sample.description@</p>
<div id="content"></div>
<pre>
//This code needs to be transpiled to actually work.
@scripts.source.replace(/</g, '&lt;')@
</pre>
</div>
<script  charset="utf-8">
//So this adapts the require module from babel to the global libs.
//If your using a transpiler you wouldn't need this.
var _Subschema = subschema.newSubschemaContext();
var require = _Subschema.importer;

</script>
<script  charset="utf-8">
//This is a transpiled version of the script, you are better off using webpack and a transpiler like babel.
@scripts.compiled@
</script>
</body>

</html>